<!DOCTYPE html>
<html>
<head>
	<title>Ways to define a controller</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="myApp">
	<div class="container" ng-controller="personsCtrl">
	<h2>Persons in PersonsCtrl</h2>
		<div class="persons" ng-repeat="x in persons">
		<!-- This div only displays variables that are decalred in personsCtrl -->
			<h3><strong>Name: </strong>{{x.name | reverse}}</h3>
			<h3><strong>Age: </strong>{{x.age}}</h3>
			<h3><strong>weight: </strong>{{x.weight}}</h3>
		</div>
	</div>
	<div class="container" ng-controller="countriesCtrl">
	<h2>Countries in countriesCtrl</h2>
		<div class="countries" ng-repeat="x in countries">
			<h3><strong>Name: </strong>{{x.name | reverse}}</h3>
			<h3><strong>Population: </strong>{{x.population}}</h3>
			<h3><strong>Currency: </strong>{{x.currency}}</h3>
		</div>
	</div>
	<div ng-controller="firstCtrl as fc">
		<p><strong>{{fc.present}}</strong></p>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script>
	//here module is strored in the variable "app" and this variable is 
	//used to declare the rest of the controllers and each controller must be ended with
	//a semicolon as we are declaring them individually and it is necessary to end it.
		var app = angular.module("myApp", []);
		//personsCtrl
		//$scope is good practise to include because it gives the flexibility to 
		//declare our own variable names inside of the controller's scope
		app.filter('reverse', function(){
			return function(text){
				return text.split("").reverse().join("").toUpperCase();
			}
		});
		app.controller('personsCtrl', ['$scope', function($scope){
			$scope.persons = [{
				name: "madhuri",
				age: 7,
				weight: 7
			},{
				name: "name2",
				age: 6,
				weight: 6
			}];
		}]);

		app.controller('countriesCtrl', ['$scope', function($scope){
			$scope.countries = [{
				name: "India",
				population: "100 C",
				currency: "INR"
			}, {
				name: "US",
				population: "10 M",
				currency: "USD"
			}];
			
		}]);
		app.controller('firstCtrl', function(){
			this.present = "I am praticing";
		});
	</script>
</body>
</html>